<a href="https://colab.research.google.com/github/Pattiecodes/DC_DS-in-R/blob/main/Module_5_Introduction_to_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# --- Module Start ---

# Querying the books table
You're ready to practice writing your first SQL queries using the SELECT and FROM keywords. Recall from the video that SELECT is used to choose the fields that will be included in the result set, while FROM is used to pick the table in which the fields are listed.

Feel free to explore books in the exercise.

Your task in this exercise is to practice selecting fields from books.

Instructions 1/3
35 XP
Select the title from the books table to view all book titles.

In [ ]:
-- Return all titles from the books table
SELECT title
FROM books;

Instructions 2/3
Select both the title and author fields from books.

In [ ]:
-- Select title and author from the books table
SELECT title, author
FROM books;

Instructions 3/3 Select all fields from the books table.

In [ ]:
-- Select all fields from the books table
SELECT *
FROM books;

# Making queries DISTINCT
You've learned that the DISTINCT keyword can be used to return unique values in a field.

The books table contains 350 books, representing all of the books that our local library has available for checkout.

But how many different authors are represented in these 350 books?

Instructions 1/2
50 XP
Select only the unique authors from the books table.

In [ ]:
-- Select unique authors from the books table
SELECT DISTINCT author
FROM books;

Instructions 2/2 Update the code to return the unique author and genre combinations in the books table.

In [ ]:
-- Select unique authors and genre combinations from the books table
SELECT DISTINCT author, genre
FROM books;

# Aliasing
Default column names in an SQL result set come from the fields used to create them. You can use aliasing to rename these columns. This is helpful for making it clear what the column is about.

Instructions
100 XP
Add an alias to the SQL query to rename the author column to unique_author in the result set.

In [ ]:
-- Alias author so that it becomes unique_author
SELECT DISTINCT author AS unique_author
FROM books;

# VIEWing your query
You've worked hard to create the below SQL query:

SELECT DISTINCT author AS unique_author
FROM books;
What if you'd like to be able to refer to it later, or allow others to access and use the results?

The best way to do this is by creating a view. Recall that a view is a virtual table: it's very similar to a real table, but rather than the data itself being stored, the query code is stored for later use.

Instructions 1/2
50 XP
2
Create a view called library_authors.

In [ ]:
-- Create a view called library_authors
CREATE VIEW library_authors AS
SELECT DISTINCT author AS unique_author
FROM books;

Instructions 2/2
50 XP
2
Check that the view was created by selecting all columns from library_authors.

In [ ]:
-- Your code to create the view:
CREATE VIEW library_authors AS
SELECT DISTINCT author AS unique_author
FROM books;

-- Select all columns from library_authors
SELECT *
FROM library_authors

# Limiting results
Let's take a look at a few of the genres represented in our library's books.

Recall that limiting results is useful when testing code since result sets can have thousands of results. Queries are often written with a LIMIT of just a few records to test out code before selecting thousands of results from the database.

Let's practice with LIMIT!

Instructions
100 XP
Using PostgreSQL, select the genre field from the books table; limit the number of results to 10.

In [ ]:
-- Select the first 10 genres from books using PostgreSQL
SELECT genre
FROM books
LIMIT 10;

# --- Module End ---