<a href="https://colab.research.google.com/github/Pattiecodes/DC_DS-in-R/blob/main/Module_7_Joining_Data_In_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# --- Module Start ---

# Exercise
Your first join
Throughout this course, you'll be working with the countries database, which contains information about the most populous cities in the world, along with country-level economic, population, and geographic data. The database also contains information on languages spoken in each country.

You can see the different tables in this database to get a sense of what they contain by clicking on the corresponding tabs. Familiarize yourself with the fields that seem to be shared across tables before you continue with the course.

In this exercise, you'll use the cities and countries tables to build your first inner join. You'll start off by selecting all columns in step 1, performing your join in step 2, and then refining your join to choose specific columns in step 3.

Instructions 1/3
35 XP
2
3
Begin by selecting all columns from the cities table, using the SQL shortcut that selects all.

In [ ]:
-- Select all columns from cities
SELECT *
FROM cities;

Instructions 2/3
35 XP
2
3
Perform an inner join with the cities table on the left and the countries table on the right; you do not need to alias tables here.
Join ON the country_code and code columns, making sure you identify them with the correct table.

In [ ]:
SELECT *
FROM cities
-- Inner join to countries
INNER JOIN countries
-- Match on country codes
ON cities.country_code = countries.code

Instructions 3/3
30 XP
3
Complete the SELECT statement to keep three columns: the name of the city, the name of the country, and the region the country is located in (in this order).
Alias the name of the city AS city and the name of the country AS country.

In [ ]:
-- Select name fields (with alias) and region
SELECT cities.name AS city, countries.name AS country, region
FROM cities
INNER JOIN countries
ON cities.country_code = countries.code;